/* liScroll styles */
.scroll {
overflow: hidden; 
margin-top:2em;
} 
.scroll.mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 300px;
overflow: hidden;
}
.scroll ul#sous-logo {
position:relative;
list-style-type: none;
text-align:center;
} 
.scroll ul#sous-logo li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
background: #fff;
}
.scroll ul#sous-logo li span {
white-space: nowrap;
color: gray;
font-family: 'Source Sans Pro';
font-weight:300;
fon-weight:bold;
text-transform: uppercase;
text-align:center;
} 
.scroll ul#sous-logo li span a {
white-space: nowrap;
color: gray;
font-family: 'Source Sans Pro';
font-weight:300;
fon-weight:bold;
text-transform: uppercase;
text-align:center;
} 
.scroll ul#sous-logo li span a:hover {
white-space: nowrap;
color: navy;
font-family: 'Source Sans Pro';
font-weight:300;
fon-weight:bold;
text-transform: uppercase;
text-align:center;
} 
