/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: navy;
    display: none;
}

#loginmodal {

  padding: 15px 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
#loginmodal input{
border:none;
height:3em;
border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
#loginmodal h1{
color:navy;
text-align:center;
}
#loginmodal h1.bold{
font-weight: bold;
}

#loginmodal span{
	margin-top:0.5em;
color:#47b8af;
font-weight: bold;
font-weight: 200;
}
#loginmodal button{
margin-top:1em;
}
#loginmodal button span{
color:navy;
width: 100%;
}
#loginmodal button:hover span{
color:#47b8af;
}



