/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: navy;
    display: none;
}

#loginmodal {
  padding: 15px 20px;
  background: white;
}
#loginmodal input{
border:none;
height:3em;
<<<<<<< HEAD
background-color:Beige;margin-bottom:1em;
=======
background-color:Beige;
>>>>>>> origin/master
}

#loginmodal span{
margin-top:0.5em;
color:navy;
font-weight: bold;
<<<<<<< HEAD
=======
font-weight: 200;
>>>>>>> origin/master
}

#loginmodal .identification {
text-transform:uppercase;
color:Teal;
}

#loginmodal .login {
text-transform:uppercase;
font-weight : bold;
color:navy;
height:3em;
<<<<<<< HEAD
font-size:medium;
}

#loginmodal .password {
=======
}

#loginmodal .password  {
>>>>>>> origin/master
text-transform:uppercase;
font-weight : bold;
color:navy;
height:3em;
<<<<<<< HEAD
font-size: medium;
=======
>>>>>>> origin/master
}


#loginmodal .btn {
background-color:Teal;
color:white;
height:3em;
}
#loginmodal .btn:hover {
background-color:navy;
color:white;
height:3em;
}


