/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: navy;
    display: none;
}

#loginmodal {
  padding: 15px 20px;
  background: white;
}
#loginmodal input{
border:none;
height:3em;
background-color:Beige;
}

#loginmodal span{
margin-top:0.5em;
color:navy;
font-weight: bold;
font-weight: 200;
}

#loginmodal .identification {
text-transform:uppercase;
color:Teal;
}

#loginmodal .login {
text-transform:uppercase;
font-weight : bold;
color:navy;
height:3em;
}

#loginmodal .password  {
text-transform:uppercase;
font-weight : bold;
color:navy;
height:3em;
}


#loginmodal .btn {
background-color:Teal;
color:white;
height:3em;
}
#loginmodal .btn:hover {
background-color:navy;
color:white;
height:3em;
}


