body {font-family: 'Source Sans Pro';font-weight:300;text-transform: uppercase;background-color:white;}



.slide {width: auto; height:600px;text-align:center;}
.sequence {width:auto; height:600px;background-color:white;}
.sequence #sequence {width:auto; height:600px;border: solid 1em white;background-color:black; padding:9em 0 9em 0;}
.sequence #sequence img {width:auto;margin:2% 5% 2% 5%;}


.sequence #sequence ul li img.model{width:400px;height:400px;border:solid 1em white;margin:0% 25% 0% 25%;}
img {width:200px; height: 200px;margin:2em 5em 2em 5em;}
#centre img{margin-top:10%;width:auto;}

