body {font-family: 'Source Sans Pro';font-weight:300;text-transform: uppercase;background-color:white;}


#logo a:hover{color:#47b8af;}
#sous-logo {margin-bottom:0; padding-bottom:0;}

fieldset {padding:2em 2em 2em 2em; border:solid 2px #CED8F6; border-radius:3em;background: linear-gradient(#CED8F6,white);}

form span{color:navy;text-align:right;margin-top:2em;}

form input{margin-top:1em;}

h:commandbutton.button.lg-btn-default value{color:navy;background-color:#47b8af;}
h:commandbutton.button.lg-btn-default:hover value{color:#47b8af;background-color:navy;}

#loginmodal h1{text-align:center;}
#loginmodal span{text-align:left;}

.box.post h3 span{color:#47b8af !important;}

.footerTitre {color:#47b8af;}

.footerTitre strong {color:#47b8af;}



	