body {font-family: 'Source Sans Pro';font-weight:300;text-transform: uppercase;background-color:white;}

#allProjectDetails {width:auto; height:auto; padding:2% 2% 2% 2%;border:solid 1px navy;border-radius:2% 2%;margin-top:2%;margin-bottom:2%;}

#project {width:auto; height:auto; margin:2% 2% 2% 2%;font-family:'Source Sans Pro';}
#project h1 span{font-size:200;font-weight: bold;text-transform:uppercase;color:navy;text-align:center;}
#project h1 {text-align:center;}
#project img{border:solid 5px navy;padding-top:2em;width:200px;height:200px;}
#project #donnees span {color:navy;font-family:'Source Sans Pro';opacity:1;}

#auteur {width:auto; height:auto; margin:2% 2% 2% 2%;color:navy;font-family:'Source Sans Pro';}
#auteur h1 span{font-size:150;font-weight: bold;text-transform:uppercase;color:navy;text-align:center;}
#auteur h1 {text-align:center;}
#auteur img{border:solid 5px navy;padding-top:2em;width:200px;height:200px;}
#auteur #donnees p {color:navy;font-family:'Source Sans Pro';}

#concept {width:auto; height:auto; margin:2% 2% 2% 2%;color:navy;font-family:'Source Sans Pro';}
#concept h1 span{font-size:150;font-weight: bold;text-transform:uppercase;color:navy;text-align:center;}
#concept h1 {text-align:center;}
#concept #donnees p {color:navy;font-family:'Source Sans Pro';}

#packages {width:auto; height:auto; font-family:'Source Sans Pro';}
#packages h1 span{font-size:200;font-weight: bold;text-transform:uppercase;color:navy;text-align:center;}
#packages h1 {text-align:center;}

#packages #content-packages #content-package-1 {background-color:white;padding:2% 2% 2% 2%;border:solid 1px navy;border-radius:2% 2%;margin-top:2%;margin-bottom:2%;margin-right:8%;margin-left:4%;}
#packages #content-packages #content-package-1:hover {background-color:black;}
#packages #content-packages #content-package-1:hover span{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-1:hover h1{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-1 h1{color:navy;text-align:center;}
#packages #content-packages #content-package-1 span{color:navy;text-align:center;}

#packages #content-packages #content-package-2 {background-color:white;padding:2% 2% 2% 2%;border:solid 1px navy;border-radius:2% 2%;margin-top:2%;margin-bottom:2%;margin-right:8%;}
#packages #content-packages #content-package-2:hover {background-color:black;}
#packages #content-packages #content-package-2:hover span{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-2:hover h1{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-2 h1{color:navy;text-align:center;}
#packages #content-packages #content-package-2 span{color:navy;text-align:center;}

#packages #content-packages #content-package-3 {background-color:white;padding:2% 2% 2% 2%;border:solid 1px navy;border-radius:2% 2%;margin-top:2%;margin-bottom:2%;margin-right:4%;}
#packages #content-packages #content-package-3:hover {background-color:black;}
#packages #content-packages #content-package-3:hover span{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-3:hover h1{color:#47b8af;text-align:center;}
#packages #content-packages #content-package-3 h1{color:navy;text-align:center;}
#packages #content-packages #content-package-3 span{color:navy;text-align:center;}


#logo a:hover{color:#47b8af;}
#sous-logo {margin-bottom:0; padding-bottom:0;}

.box.post h3 span{color:#47b8af !important;}

.footerTitre {color:#47b8af;}

.footerTitre strong {color:#47b8af;}




	