
fieldset {padding:2em 2em 2em 2em; background: linear-gradient(white,#CED8F6);}
fieldset legend {color:navy;font-weight: bold;}

form span{color:navy;text-align:right;margin-top:2em;}

form input{margin-top:1em;}

form button {width: 100%;margin-top:1em;}
form button:hover span {color:#47b8af;}

.resultat fieldset {border:solid 2px navy;padding:1em 1em 1em 1em;margin-top:2em;}
.resultat fieldset legend {color:navy;}
.resultat span {color:navy;}