fieldset {
	padding: 2em 2em 2em 2em;
	background: linear-gradient(white, #CED8F6);
}

fieldset legend {
	color: navy;
	font-weight: bold;
}

form span {
	color: navy;
	text-align: right;
	margin-top: 2em;
}

form input {
	margin-top: 1em;
}

form button {
	width: 100%;
	margin-top: 1em;
}

form button:hover span {
	color: #47b8af;
}

.resultat fieldset {
	border: solid 2px navy;
	padding: 1em 1em 1em 1em;
	margin-top: 2em;
}

.resultat fieldset legend {
	color: navy;
}

.resultat span {
	color: navy;
}

#details {
	margin-top:0;
	padding-left:1em;
}

#details a {
	color: navy;
	font-weight: bold;
}

#details:hover a {
	color: #47b8af;
	font-weight: bold;
}


.table {
	border-collapse: collapse;
	color: navy;
}

.table-header {
	text-align: center;
	background: none repeat scroll 0 0 #47b8af;
	border-bottom: 2px solid navy;
	padding: 16px;
	color: navy;
	font-weight: bold;
}

.table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 2px solid navy;
}

.table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 2px solid navy;
}

.table-odd-row td {
	color: navy;
}

.table-even-row td {
	color: navy;
}
}