body {font-family: 'Source Sans Pro';font-weight:300;text-transform: uppercase;background-color:white;}

#header-wrapper{width:auto;height:10em;margin-top:0;padding-top:0;background: linear-gradient(#CED8F6,white);}
#header.container{margin:0 0 0 0;padding:2em 0 2em 0;}
#header h1 {
	font-family: 'Arvo';
	font-weight: 700;
	color: navy;
	text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
	text-align:left;
	margin:0 0 1em 0;padding:0;
}
#header p {
	text-align:center;
	margin:0 0 2em 0;padding:0 0 1em 0;
}

.content {width:auto;}

.nav {background-color:black;width:100%;height:auto;padding:0;margin-top:5em;}
.nav ul {text-align:center;}
.nav ul li {display: inline-block;list-style-type: none; color:#47b8af;font-weight: 300;}
.nav ul li a {display: inline-block;list-style-type: none; color:#47b8af;font-weight: 300;font-weight: bold;}
.nav ul li a span{display: inline-block;list-style-type: none; color:#47b8af;font-weight: 300;font-weight: bold;}
.nav ul li a.icon {padding-top:1em;margin-left:5em;}
.nav ul li a.icon span {padding-left:1em;}
.nav ul li a.icon#selected {color:white;font-weight: 300;font-weight: bold;}
.nav ul li a#selected span{color:white;font-weight: 300;font-weight: bold;}

.projects {margin-top:5em;}
.projects fieldset legend {color:navy;text-align:center;font-weight:bold;}
.projects fieldset {border:solid 2px navy;padding : 1em 1em 1em 1em;}
.projects fieldset .header span{color:navy;text-align:center;font-weight:bold;}
.projects fieldset span{color:navy;text-align:center;}

.box.post h3 span{color:#47b8af !important;}

.footerTitre {color:#47b8af;}

.footerTitre strong {color:#47b8af;}
.button {height: 3em;}

#details {
	margin-top:0;
	padding-left:1em;
}

#details a {
	color: navy;
	font-weight: bold;
}

#details:hover a {
	color: #47b8af;
	font-weight: bold;
}


.table {
	border-collapse: collapse;
	color: navy;
}

.table-header {
	text-align: center;
	background: none repeat scroll 0 0 #47b8af;
	border-bottom: 2px solid navy;
	padding: 16px;
	color: navy;
	font-weight: bold;
}

.table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 2px solid navy;
}

.table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 2px solid navy;
}

.table-odd-row td {
	color: navy;
}

.table-even-row td {
	color: navy;
}
	