 
#content-package-1  {margin: 0 0.5em 0 1em;}
#package {background-color:white;border:solid 1px navy;border-radius:2% 2%;padding-bottom:2em;padding-right:2em;}
#package h1{color:navy;text-align:center;}
#package span{color:navy;text-align:center;}

