.dashboardContent #stats-ligne-1{margin-top:5em;margin-left:10em;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-a ul {background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-b ul {background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-c ul {background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-1  #stats-ligne-1-a ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-1  #stats-ligne-1-b ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-1  #stats-ligne-1-c ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-a ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-b ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}
.dashboardContent #stats-ligne-1 #stats-ligne-1-c ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}

.dashboardContent #stats-ligne-2{margin-left:10em;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-a ul{background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-b ul{background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-c ul{background: linear-gradient(#CED8F6,white) ;text-align:center;border:solid 2px #CED8F6;padding:0 1em 0 1em;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-a ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-b ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-2  #stats-ligne-2-c ul li span{color:navy;font-weight: bold;}
.dashboardContent #stats-ligne-2 #stats-ligne-2-a ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}
.dashboardContent #stats-ligne-2 #stats-ligne-2-b ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}
.dashboardContent #stats-ligne-2 #stats-ligne-2-c ul li{list-style-type: none;padding:1em 1em 1em 1em; margin:0 1em 0 0;}

.dashboardContent span a {color:navy;text-decoration: none;}
.dashboardContent span:hover a {color:#47b8af; text-decoration:none; font-weight:bold;}

.dashboardContent fieldset legend {color:navy;text-align:center;font-weight:bold;}
.dashboardContent fieldset {border:solid 2px navy;padding : 1em 1em 1em 1em;}
.dashboardContent fieldset .header span{color:navy;text-align:center;font-weight:bold;}
.dashboardContent fieldset span{color:navy;text-align:center;}
